@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.main{
  display: grid;
  align-items: center;
  align-content: center;
  padding-bottom: 30px;
}

.card {
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    display: flex;
    /* width: 25%; */
    border-radius: 5px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    padding: 10px;
    /* width: 100%; */
    border-radius: 25px;
  }
  
  .container {
    padding: 10px 16px;
  }

  .expand{
    color: rgb(24, 0, 109);
  }

  .expandButton{
    margin-left: auto;
  }